body {
    background-color: #04a6eb;
    color: #fdffff;
    width: 500px;
    margin: 0 auto;
}

input {
    height: 20px;
}

button {
padding: 4px 20px;
    background-color: #337ab7;
    color: #fdffff;
    border-style: none;
}
